@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@theme {
  /* 색상 정의: 디자인 내용에 따라 정의. 실사용 시 className="text-primary-50" */
  
  --color-primary-100: #3692FF;
  --color-primary-200: #1967D6;
  --color-primary-300: #1251AA;

  --color-error:#F74747;

  --color-primary: green;
  --color-gray-50: #fcfcfc;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;

  --color-secondary-900: #111827;
  --color-secondary-800: #1F2937;
  --color-secondary-700: #374161;
  --color-secondary-600: #4b5563;
  --color-secondary-500: #6B7280;
  --color-secondary-400: #9CA3AF;
  --color-secondary-300: #E5E7EB;
  --color-secondary-200: #E5E7EB;
  --color-secondary-100: #F3F4F6;
  --color-secondary-50: #F9FAFB;
  

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Pretendard';
  
}

